<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Resetting password</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>There to reset your password follow the link below!</p>
  <br><a href="{{link}}">Here</a>
</body>
</html>